h1, h2, h3, h4, h5, h6, body, div, span, td, tr, th {
	font-family: "Helvetica Neue" Helvetica Arial sans;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, ul, ol, li {
	padding: 0;
	margin: 0;
}
body {
}
